<h1 style="font-family: Arial;">License Dashboard</h1>

<!-- SUMMARY CARDS -->
<div style="display: flex; gap: 15px; margin-bottom: 20px;">

  <div style="padding: 15px; background: #f3f4f6; border-radius: 10px; flex: 1;">
    <h3>Total</h3>
    <p><%= @total %></p>
  </div>

  <div style="padding: 15px; background: #dcfce7; border-radius: 10px; flex: 1;">
    <h3>Active</h3>
    <p><%= @active %></p>
  </div>

  <div style="padding: 15px; background: #fef9c3; border-radius: 10px; flex: 1;">
    <h3>Expiring Soon</h3>
    <p><%= @expiring_soon %></p>
  </div>

  <div style="padding: 15px; background: #fee2e2; border-radius: 10px; flex: 1;">
    <h3>Expired</h3>
    <p><%= @expired %></p>
  </div>

</div>

<!-- BUTTON -->
<%= link_to "Create License", new_license_path,
  style: "padding:10px 15px; background:#2563eb; color:white; text-decoration:none; border-radius:8px;" %>
<br><br>
<div style="margin-bottom: 20px;">
  <%= button_to "Send Expiry Emails Now",
      send_expiry_emails_licenses_path,
      method: :post,
      style: "
        background: #111827;
        color: white;
        padding: 10px 14px;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        font-weight: 500;
      " %>
</div>
<br><br>

<!-- TABLE -->
<table style="width:100%; border-collapse: collapse; font-family: Arial;">

  <tr style="background:#111827; color:white;">
    <th style="padding:10px;">App</th>
    <th>Email</th>
    <th>Expiry</th>
    <th>Status</th>
    <th>Action</th>
  </tr>

  <% @licenses.each do |license| %>
    <tr style="border-bottom:1px solid #e5e7eb;">

      <td style="padding:10px;"><%= license.app_name %></td>
      <td><%= license.email %></td>
      <td><%= license.expiry_date.strftime("%Y-%m-%d") %></td>

      <!-- STATUS BADGE -->
      <td>
        <% case license.status %>
        <% when "Active" %>
          <span style="padding:5px 10px; background:#dcfce7; color:#166534; border-radius:999px;">
            Active
          </span>
        <% when "Expiring Soon" %>
          <span style="padding:5px 10px; background:#fef9c3; color:#854d0e; border-radius:999px;">
            Expiring Soon
          </span>
        <% else %>
          <span style="padding:5px 10px; background:#fee2e2; color:#991b1b; border-radius:999px;">
            Expired
          </span>
        <% end %>
      </td>

    <td>
     <%= link_to "View",
       license_path(license.app_name),
       style: "color:#2563eb; text-decoration:none;" %>
    </td>

    </tr>
  <% end %>

</table>
